<div class="header">
  <ul>
    <li class="current">
      <a href="index.html">Home</a>
    </li>
    <li>
      <a href="recipes.html">A to Z Recipes</a>
    </li>
    <li>
      <a href="featured.html">Featured Recipes</a>
    </li>
    <li>
      <a href="videos.html">Videos</a>
    </li>
    <li>
      <a href="about.html">About</a>
    </li>
    <li>
      <a href="blog.html">Blog</a>
    </li>
  </ul>
</div>