<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>

<head>
  <meta charset="UTF-8">
  <title>{{author}}</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
  {{>navbar}}
  <div class="body">
    <div>
      {{>header}}
      {{{body}}}
    </div>
    {{>sidebar}}
  </div>
  {{>footer}}
</body>

</html>