<div class="body">
  <div>
    <a href="/index"><img src="images/turkey.jpg" alt="Image"></a>
  </div>
  <ul>
    <li class="current">
      <a href="/blog"><img src="images/holi-turkey.jpg" alt="Image"></a>
      <div>
        <h2><a href="/blog">Holy Turkey</a></h2>
        <p>
          This is just a place holder
        </p>
      </div>
    </li>
    <li>
      <a href="/blog"><img src="images/fruits-and-bread.jpg" alt="Image"></a>
      <div>
        <h2><a href="/blog">Fruits &amp; Bread</a></h2>
        <p>
          This is just a place holder
        </p>
      </div>
    </li>
    <li>
      <a href="/blog"><img src="images/dessert.jpg" alt="Image"></a>
      <div>
        <h2><a href="/blog">Dessert</a></h2>
        <p>
          This is just a place holder
        </p>
      </div>
    </li>
  </ul>
</div>
<div class="footer">
  <ul>
    <li>
      <h2><a href="/feature/1">Featured Recipes</a></h2>
      <a href="/feature/1"><img src="images/feature.jpg" alt="Image"></a>
    </li>
    <li>
      <h2><a href="/recipes">A to Z Recipes</a></h2>
      <a href="/recipes"><img src="images/a-z.jpg" alt="Image"></a>
    </li>
  </ul>
  <ul>
    <li>
      <h2><a href="videos.html">Videos</a></h2>
      <a href="videos.html"><img src="images/videos.jpg" alt="Image"></a>
    </li>
    <li>
      <h2><a href="blog.html">Blog</a></h2>
      <a href="blog.html"><img src="images/blog.jpg" alt="Image"></a>
    </li>
  </ul>
</div>