<div class="body">
  <div>
    <a href="index.html"><img src="images/turkey.jpg" alt="Image"></a>
  </div>
  <ul>
    <li class="current">
      <a href="blog.html"><img src="images/holi-turkey.jpg" alt="Image"></a>
      <div>
        <h2><a href="blog.html">Holy Turkey</a></h2>
        <p>
          This is just a place holder
        </p>
      </div>
    </li>
    <li>
      <a href="blog.html"><img src="images/fruits-and-bread.jpg" alt="Image"></a>
      <div>
        <h2><a href="blog.html">Fruits &amp; Bread</a></h2>
        <p>
          This is just a place holder
        </p>
      </div>
    </li>
    <li>
      <a href="blog.html"><img src="images/dessert.jpg" alt="Image"></a>
      <div>
        <h2><a href="blog.html">Dessert</a></h2>
        <p>
          This is just a place holder
        </p>
      </div>
    </li>
  </ul>
</div>