<div id="content">
  <div>
    <ul>
      {{#each list}}
      {{> foodcard img=smallImagePath title=title description=summary _id=id isEven=isEven ingr=Ingredients }}
      {{/each}}
    </ul>
  </div>
</div>